.dish-list-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.dish-list-container h1 {
  text-align: center;
  color: #333;
}

.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

.dish-category-title {
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 3rem;
}
.dish-list {
  list-style-type: none;
  padding: 0;
}

.dish-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.dish-item:hover {
  background: #f9f9f9;
}

.dish-summary {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
}

.dish-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dish-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 12px;
}

.dish-info p {
  font-size: 0.8rem;
  color: #494949;
  margin: 0 0 4px 0;
}

.dish-name {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  margin: 0;
  margin-bottom: 4px;
}

.dish-price {
  font-size: 1.3rem;
  margin-bottom: 4px;
  color: #574d4d;
}

.dish-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dish-image:hover {
  transform: scale(1.05);
}

/* Modal grande */
.image-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.image-modal {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}