/* Home.css */

.intro {
  display: flex;
  flex-direction: column;
}

.intro h2 {
  color: #343a40;
}

.intro p {
  color: #6c757d;
}

.services {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.services h2 {
  color: #343a40;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services ul li {
  color: #6c757d;
  margin: 10px 0;
}

.home-image {
  max-width: 680px;
  min-height: 300px;
}
