.reservation-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
  padding: 50px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  flex: 0 0 350px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button[type='submit'] {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.map-container h3 {
  color: #f6f6ef;
  font-size: 1.5rem;
}

.map-container {
  flex: 1;
  max-width: 700px;
  min-width: 300px;
}

.map-container iframe {
  border: none;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.active-reservations {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.active-reservations li {
  background-color: #f8f9fa;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 4px solid #48b002;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
}

.active-reservations li button {
  background-color: #f80707;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.active-reservations li button:hover {
  background-color: #212529;
}